:root {
  --search-area-div-height: 12vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(173, 50, 63, 1) 0%,
    rgba(239, 125, 30, 1) 35%,
    rgba(227, 99, 48, 1) 100%
  );
}

.searchAreaDiv {
  display: flex;
  width: 100%;
  height: var(--search-area-div-height);
  justify-content: center;
  align-items: center;
}

.searchResultDiv {
  display: flex;
  width: 100%;
  height: calc(100vh - var(--search-area-div-height));
  justify-content: center;
  align-items: center;
}
